.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}
.nav-connect {
  padding: 10px 30px;
  border-radius: 400px;
  background: linear-gradient(267deg, #da7c25 0.365%, #b923e1);
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
/* .navbar img {
  height: 60px;
  width: 60px;
} */
.navbar-logo-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.nav-mob-open,
.nav-mob-close {
  display: none;
}

.nav-menu li {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.nav-menu li.active {
  border-bottom: 2px solid #ff00ff;
  font-weight: bold;
  color: #ff00ff;
}
.anchor-link {
  text-decoration: none;
  color: white;
}
.nav-connect:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    margin-top: 50px;
    right: 40px;
    height: 50px;
    width: 50px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 40px;
    left: 290px;
    width: 30px;
    height: 30px;
    border-radius: 80%;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: rgb(30, 30, 30);
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 30px;
  }
}
